body{
    text-align: center;
}

#one, #two, #three, #four, #fiv, #six{
    height: 300px;
    width: 300px;
}
.first{
    width: 200px
}

#myCarousel img{
    width: 50px;
    margin-top: 35px;
}

.carousel-inner{
    margin-bottom: 15px;
    margin-top: 50px;
    color: white;
}

.item{
    align-items: center;
    width: 200px
}